$color-principal: #3500a7;
$color-secundario: #12b84f;

.scroll-content{
    padding: 0 !important;
    margin: 0 !important;
    background: url("../../assets/imgs/botica-textura 2 completa.svg");
    
}


.slider1{
    padding-right: 35px;
    padding-top: 32px;
    height: 200px;
    width: 100% !important;
    margin-left: 20px;
}

.barraBusqueda{

    display: flex;
    align-items: center;
    height: 45px;
    background-color: $color-secundario;

    ion-icon{
        color: white;
        font-size: 30px;
        margin: 0 10px;
    }

    #inputBusqueda{
        width: 85%;
        height: 85%;
        border-radius: 25px;
        color: $color-secundario;
        font-size: 20px;
        padding-left: 15px;
        border: none;
    }
}



.container{
	width: 80%;
    margin: auto;
    margin-top: 20px;
}

.slide-list{
	margin: 0 10px;
}

.slick-track{
	height: 300px;
}
.slick-slide{
	text-align: center;
	margin: 0 -40px;
	display: flex;
	align-items: center;
	//background: yellow;
	position: relative;
	z-index: 30;

}

.imagenProducto{
	width: 80px;
	height: 80px;
	display: block;
	margin: auto;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
}

.descripcionProducto{
    display: none;
    margin-top: 50px;
}

.descripcionProducto h4{
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.descripcionProducto h5{
    font-size: 10px;
}

.precioProducto{
    background: $color-principal;
    color: white;
    width: 60%;
    margin: auto;
    display: none;
    position: absolute;
    left: 20%;
    top: 45%;
    border-radius: 3px;
}

.botonAgregar{
    display: none;
    width: 100px;
    height: 40px;
    background: $color-secundario;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: 24%;
    top: 85%;
}
.slick-center{
	background: #abe2be;
	position: relative;
    z-index: 20;
    border-radius: 10px;
}

.slick-center img{
    height: 120px;
}
.slick-center div{
    display: block !important;
}

.slick-center .descripcionProducto{
    display: block;
}

.slick-center .botonAgregar{
    display: block;
}


.espacioBotonesAzules{
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .botonAzul{
        height: 100px;
        width: 46%;
        margin: 0 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        font-size: 20px;
        background: $color-principal;
        color: white;
        border-radius: 15px;
    }

    .botonAzul ion-icon{
        margin-top: 10px;
        font-size: 40px;
        margin-bottom: 15px;
        color: white;
    }
}

.espacioBotonesBlanco{
    display: flex;
    margin-top: 20px;
    border-color: black !important;
    margin-bottom: 20px;
}
.botonBlanco{
    flex: 1 0 auto;
    height: 100px;
    border: 2px solid grey;
    background: white;  
    color: $color-principal;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.botonBlanco ion-icon{
    margin-bottom: 15px;
    font-size: 30px;
}
