$color-principal: #3500a7;
$color-secundario: #12b84f;

.scroll-content{
    padding: 0 !important;
    margin: 0 !important;
    background: url("../../assets/imgs/botica-textura 2 completa.svg");
    
}


.slider1{
    padding-right: 35px;
    padding-top: 32px;
    height: 200px;
    width: 100% !important;
    margin-left: 20px;
}

.barraBusqueda{

    display: flex;
    align-items: center;
    height: 45px;
    background-color: $color-secundario;

    ion-icon{
        color: white;
        font-size: 30px;
        margin: 0 10px;
    }

    #inputBusqueda{
        width: 85%;
        height: 85%;
        border-radius: 25px;
        color: $color-secundario;
        font-size: 20px;
        padding-left: 15px;
        border: none;
    }
}