
$color-principal: #3500a7;

//Estilos que permitan usar iconos personalizados en la etiqueta ion-icon
ion-icon {
    // Se aplican mascaras SVG para los iconos de las clases
    //que empiecen con "menu-"

    &[class*="menu-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
        color: $color-principal;
        border: none;
        margin-right: 20px;
        margin-left: 10px;
    }
    // Se define la imagen correspondiente de cada icono
    //asi como su nombre de clase
    &[class*="menu-miPerfil"] {
        mask-image: url("../assets/icon/botica-icono menu perfil.svg");
    }
    &[class*="menu-categorias"] {
        mask-image: url("../assets/icon/botica-icono menu categorias.svg");
    }
    &[class*="menu-recordatorio"] {
        mask-image: url("../assets/icon/botica-icono menu recordatorios.svg");
    }
    &[class*="menu-compras"] {
        mask-image: url("../assets/icon/botica-icono menu compra programada.svg");
    }
    &[class*="menu-sugerencias"] {
        mask-image: url("../assets/icon/botica-icono menu sugerencias.svg");
    }
    &[class*="menu-servicios"] {
        mask-image: url("../assets/icon/botica-icono menu servicios.svg");
    }
    &[class*="menu-cupones"] {
        mask-image: url("../assets/icon/botica-icono menu cupones.svg");
    }
    &[class*="menu-llamada"] {
        mask-image: url("../assets/icon/botica-icono llamada.svg");
    }
    &[class*="menu-chat"] {
        mask-image: url("../assets/icon/botica-icono chat.svg");
    }
    &[class*="menu-ubicacion"] {
        mask-image: url("../assets/icon/botica-icono ubicacion.svg");
    }
}

.imagenMenu{
    width: 80%;
    display: block;
    margin: auto; 
    margin-top: 40px;  
    margin-bottom: 20px;
}

.menu-inner{
    background: yellow !important;
}

ion-list{
    background: url("../assets/imgs/botica-textura 1 cortada.svg");    
    height: 80%;
    display: flex;
    flex-direction: column;
    //background: yellow;
}

.listaMenu button{
    color: $color-principal !important;
    background: transparent !important;
    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    //align-items: center;
}

.prueba{
    width: 20px;
}

.texto-wrap ion-label{
    display: flex;
    white-space: inherit;
}